{% extends 'base.html' %}
{% block title %}Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">{{ main_section.title }}</div>
            <div class="card-content">
                <p class="card-text">{{ main_section.content }}</p>
                {% for child in child_sections %}
                    <div class="card-title">{{ child.title }}</div>
                    <p class="card-text">{{ child.content }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}