{% extends 'base.html' %}
{% block title %}Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Card header</div>
            <div class="card-content">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus animi nostrum odit rerum nisi, ab iusto voluptatem dignissimos ipsum recusandae, omnis excepturi harum blanditiis? Eius cupiditate tempora iste quod aliquid.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}